.env
data/

# Jupyter notebook checkpoints
.ipynb_checkpoints

# Bytecode files
__pycache__/

# Intermediate LaTeX files
*.aux
*.bbl
*.blg
*.log
*.out
*.synctex.gz
*.loa
*.lof
*.lot
*.toc
*.bak
*.dvi
*.ps
*.auxlock
*.newpax
*.fls

# Exported html and pdf files
PCPT*.html
PCPT*.pdf
